{% extends "./base.html" %} {% block content %}
<!-- Feature 2 -->
<section class="feature_2 bg-light pt-105 pb-45 text-center">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <h2
          class="small"
          data-aos-duration="600"
          data-aos="fade-down"
          data-aos-delay="0"
        >
          Startup Framework
        </h2>
        <div
          class="mt-35 mb-65 f-22 color-heading text-adaptive description"
          data-aos-duration="600"
          data-aos="fade-down"
          data-aos-delay="300"
        >
          The most important part of the Startup Framework are the samples or
          Bootstrap themes and templates. The samples consist of a set of few
          pages you can use «as is» or add new blocks from UI Kit.
        </div>
      </div>
      <div class="col-xl-10">
        <div class="row justify-content-center">
          <div
            class="mb-50 col-md-4 col-sm-8"
            data-aos-duration="600"
            data-aos="fade-down"
            data-aos-delay="600"
          >
            <div class="mb-20 f-18 medium title">
              For Freelancers and <br />Agencies
            </div>
            <div class="color-heading text-adaptive">
              Pay once and it’s yours forever. Use <br />
              it to build as many sites as you <br />
              need; long form, presentations, <br />
              splash sites, and more.
            </div>
            <a href="#" class="mt-30 btn sm w-40 border-transparent-main"
              ><i class="fas fa-angle-right"></i
            ></a>
          </div>
          <div
            class="mb-50 col-md-4 col-sm-8"
            data-aos-duration="600"
            data-aos="fade-down"
            data-aos-delay="900"
          >
            <div class="mb-20 f-18 medium title">Cmd + C / Cmd + V</div>
            <div class="color-heading text-adaptive">
              Edit content in a comfortable <br />
              manner. It’s as simple as copy <br />
              and paste.
            </div>
            <a href="#" class="mt-30 btn sm w-40 border-transparent-main"
              ><i class="fas fa-angle-right"></i
            ></a>
          </div>
          <div
            class="mb-50 col-md-4 col-sm-8"
            data-aos-duration="600"
            data-aos="fade-down"
            data-aos-delay="1200"
          >
            <div class="mb-20 f-18 medium title">Full Control</div>
            <div class="color-heading text-adaptive">
              Easily change and tweak your <br />
              content when you need to, <br />
              however you want. No more third <br />
              party vendor lock-in.
            </div>
            <a href="#" class="mt-30 btn sm w-40 border-transparent-main"
              ><i class="fas fa-angle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock content %}
