{% extends "../app/base.html" %} 

{% block content %}
<!-- Signup Form -->
<form method="post" action="{% url 'login_user' %}">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" name="username" required /><br />
  <label for="email">Email:</label>
  <input type="email" name="email" required /><br />
  <label for="password">Password:</label>
  <input type="password" name="password" required /><br />
  <label for="confirm_password">Confirm Password:</label>
  <input type="password" name="confirm_password" required /><br />
  <label for="role">Role:</label>
  <select name="role">
    <option value="student">Student</option>
    <option value="teacher">Teacher</option></select
  ><br />
  <button type="submit">Register</button>
</form>
{% endblock content %}



